.btn {
  border: 2px solid $color-border;
  border-radius: rem(15px);
  background-color: $color-border;
  color: white;
  font-weight: 600;
  padding: rem(10px);
  transition: 0.2s background-color;

  &:hover {
    background-color: $color-primary;
  }

  &:disabled {
    border: 2px solid $color-secondary-text !important;
    background-color: $color-secondary-text !important;
    color: white !important;
  }
}

.btn:focus {
  outline: none;
}
