.form {
  width: 45%;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: white;
  border: 2px solid $color-border;
  border-radius: rem(20px);
  overflow: hidden;
}

.form__container {
  padding: rem(15px 10px);
}

.form__action-btn {
  margin-bottom: rem(15px);
  width: 100%;
}
