.friend-list {
  flex-basis: 30%;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.friend-list__actions {
  flex-basis: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $color-secondary;
}

.friend-list__menu-action {
  padding: 0;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  fill: $color-light;
  transition: 0.2s fill;

  &:hover {
    fill: white;
  }

  &:focus {
    outline: none;
  }
}

.friend-list__find-in-chats {
  width: 60%;
  height: 32px;
  border-radius: 15px;
  padding: rem(5px 5px 5px 10px);
  border: 2px solid $color-light;
  transition: 0.2s border-color;

  &:hover {
    border-color: $color-primary;
  }

  &:focus {
    outline: none;
  }
}

.friend-list__add-friend-action {
  padding: 0;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 2px solid $color-light;
  border-radius: 50%;
  fill: $color-light;
  transition: 0.2s fill, 0.2s border-color;

  svg {
    width: 25px;
    height: 25px;
  }

  &:hover {
    fill: white;
    border-color: white;
  }

  &:focus {
    outline: none;
  }
}

.friend-list__chats {
  user-select: none;
  height: 1px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.friend-list__no-chats {
  color: white;
  text-align: center;
  padding: 5px;

  &::after {
    content: "…";
  }
}

.friend-list__choose-chat-action {
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 2px solid $color-light;
  background-color: $color-primary;
  color: white;
  cursor: pointer;
  transition: 0.2s background-color, 0.2s border-color;

  &:hover {
    background-color: $color-light;
  }

  &:focus {
    outline: none;
  }
}

.friend-list__choose-chat-action--active {
  background-color: $color-light;
}

.friend-list__chat-image {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin: 5px 5px 5px 0;
}

.friend-list__count {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $color-secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.friend-list__chat-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow: hidden;
}

.friend-list__chat-name {
  margin: 0 0 5px 0;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.friend-list__last-message {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
