.header {
  border-bottom: 2px solid $color-border;
  display: flex;
  align-items: center;
  padding: rem(10px 20px);
  border-radius: rem(20px);
}

.header__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: rem(15px);
}

.header__title {
  color: $color-primary;
  font-weight: bold;
  font-size: rem(24px);
  margin-bottom: rem(10px);
}

.header__text {
  color: $color-secondary-text;
}
