.input {
  width: 100%;
  position: relative;
  margin-bottom: rem(15px);
}

.input-checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.input-checkbox > span {
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin-bottom: rem(15px);
  cursor: pointer;
}

.input-checkbox > span::before {
  text-align: center;
  content: "✓";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid $color-border;
  border-radius: 5px;
  margin-right: rem(10px);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  color: white;
  transition: 0.3s border, 0.1s background-color;
}

.input-checkbox > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: $color-primary;
}

.input-checkbox > input:not(:disabled):active + span::before {
  background-color: #b3d7ff;
  color: #b3d7ff;
}

.input-checkbox > input:focus:not(:checked) + span::before {
  border-color: $color-border;
}

.input-checkbox > input:checked + span::before {
  border-color: $color-primary;
  background-color: $color-primary;
  color: white;
  content: "✓";
}

.input-checkbox > input:disabled + span::before {
  background-color: #e9ecef;
}

.input__field {
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  height: 36px;
  border: 2px solid $color-border;
  transition: 0.3s border;
  padding-left: rem(10px);

  &:hover {
    border: 2px solid $color-primary;
  }

  &:focus {
    outline: none;
    border: 2px solid $color-primary;
  }
}

.input__field--error {
  border: 2px solid $color-error !important;
}

.input__error {
  color: $color-secondary-text;
  position: absolute;
  top: 0;
  bottom: 0;
  right: rem(10px);
  margin: auto;
  display: flex;
  align-items: center;

  &::before {
    margin-right: rem(5px);
    content: url("../../public/images/alert.svg");
  }
}
