.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-primary;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 15px;

  .btn {
    width: 50%;
  }
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  background-color: $color-primary;
}
