.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 16;
}

.modal__body {
  position: absolute;
  text-align: center;
  overflow: hidden;
  background-color: white;
  border-radius: 8px;
  min-width: 30%;
  max-width: 60%;
  max-height: 60%;
  z-index: 17;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modal__close-event {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: #0000007a;
  border: none;
  z-index: 15;
}
