.search {
  width: 100%;
  background-color: $color-secondary;
  padding: 10px;
}

.search__input {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 5px 5px 5px 10px;

  &:focus {
    outline: none;
  }
}

.results {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 150px;
}

.results__variant {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 2px solid $color-primary;
}

.results__user-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.results__username {
  flex-grow: 1;
  width: 70%;
  text-align: left;
  margin: 0px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.results__add-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  border: 2px solid $color-primary;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  fill: $color-primary;
  transition: 0.2s fill, 0.2s background-color;

  svg {
    width: 20px;
  }

  &:hover {
    fill: white;
    background-color: $color-primary;
  }

  &:focus {
    outline: none;
  }
}
